// kolory
$primary:#E26D5A;
$black:#000;
$white: #fff;
$gray:#DBDDE9;
$brown:#D7BBA8;

//czcionki
$font-base: 16px;
$font-menu: 15px;
$font-input: 14px;
$font-button: 13px;
$font-title: 22px;
$font-listItem: 15px;
$font-logo: 16px;
